<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users" >
  <% @users.each do |user| %>
    <div class="p-3 bg-primary mb-3 text-white">
      <%= render user %>
        <p>
          <%= link_to "Show this user", user,  class: "text-white" %>
        </p>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>